@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/blanka');
body {
  width: 100%;
  background-size: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.sec-1, .sec-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 100vh;
} 

h1 {
  position: relative;
  font-size: 90px;
  color: white; 
  margin-top: -10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px; 
    margin-top: 20px; 
  }

}

.sec-1 {
  background-color: #a6dcc9 ;
}

.sec-2 {
  background-color:#a6dcc9 ;
}

@media (max-width: 768px) {
  .sec-2 {
    background-size: auto 100%; 
    background-position: right center; 
  }}

/*--------------------------------------------------------------
# SECCIÓN2 Section
--------------------------------------------------------------*/
.sec-2 h1 {
  text-shadow: 2px 2px 4px black;
  color: #ffc87b;
}
.sec-2 h2 {
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  color: #dcccc4; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

  .sec-2 h2 {
    margin: 0; 
    font-size: 40px;
  }
}
.btnh {
  display: inline-block;
  padding: 15px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04296A;
  opacity: 1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-shadow: 0px 2px 2px black;
}

.btnh:hover {
  background-color: #068e28;
  opacity: 1;
  text-shadow: 0px 2px 2px black;
}

.btnh:active {
  background-color: #2D4263;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-shadow: 0px 2px 2px black;
}
/*--------------------------------------------------------------
# FIN SECCIÓN2 Section
--------------------------------------------------------------*/

.sec-3 {
  height: 100vh;
  overflow: hidden;
  background-color:  #96c7b8;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.image-item {
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  width: 400px;
  margin: 10px;
  border-radius: 10px; 
  position: relative;
}

.image-item img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px  #000000; 
}

@media (max-width: 768px) {
  .image-item img {
      height: 200px; 
  }
  .image-item {
    width: 70%;}
}

.image-item p {
  background-color: #ECCBBA;
  border-radius: 10px;
  font-weight: bold;
  color: #C84B31;
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 100%; 
  left: 0; 
  width: 100%;
  transform: translateY(0); 
  transition: transform 0.3s, opacity 0.3s;
}

.image-item:hover p {
  transform: translateY(-100%);
  opacity: 1;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

/*--------------------------------------------------------------
# ACCESOS Section
--------------------------------------------------------------*/
#Autogestion {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
} 
.sec-4 {
  background-color: #5ea992;
  height: 100vh;
  margin: 0 auto;
  padding: 100px 50px;
}
.sec-4 p, .sec-4 h1, .sec-4 .price {
  max-width: 100%; 
}
:root {
  --transition-time: 1.7s;
}
.sec-4 .card {
  position: relative;
  height: 500px;
  width: 80%;
  margin: auto;
  transition: ease all var(--transition-time);
  perspective: 1200px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
  @media (max-width: 768px) {
    height: 400px;
  }
}

.sec-4 .card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.cover {
  position: absolute;
  height: 80%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  @media (max-width: 768px) {
    height: 50%; 
  }
}


.cover:before {
  content: '';
  position: absolute;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all var(--transition-time);
  transform-style: preserve-3d;
  transform: translateZ(0px);
  border-radius: 10px;
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.cover.item-a {
  background-image: url('/Assets/img/especialiades.jpeg');
  border-radius: 10px;
}

.cover.item-b {
  background-image: url('/Assets/img/equipo-medicos-especialistas-jovenes-pie-pasillo-hospital.jpg');
  border-radius: 10px;
}
.cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: rgb(255, 255, 255);
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  z-index: 3;
  font-size: 2em;
  transform: translateZ(0px);
  text-shadow: 3px 3px 1px #000000;
}
.cover .price {
  font-weight: 200;
  position: absolute;
  text-align: center;
  top: 55px;
  right: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px #000000;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  z-index: 4;
  font-size: 1em;
  transform: translateZ(0px);
  border-radius: 10px;
}

.sec-4.card:hover .cover:before {
  transform: translateZ(30px);
}

.sec-4 .card:hover .cover:after {
  background-color: black;
}

.sec-4 .card:hover .cover h1 {
  transform: translateZ(100px);
}

.sec-4 .card:hover .cover .price {
  transform: translateZ(60px);
}

.sec-4 .card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.a {
  background-image: url('/Assets/img/especialiades2.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  border-radius: 10px;
}
.b {
  background-image: url('/Assets/img/cientificos-tiro-medio-posando-juntos.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  border-radius: 10px;
}
.card-back a {
  transform-style: preserve-3d;
  transition: ease transform var(--transition-time), ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px #000000;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background-color: white;
  color: #0b0f08;
  text-shadow:none;
}


/*--------------------------------------------------------------
# FIN ACCESOS Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.forma-carousel {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #000;
}
#hero {
  background-color: #96c7b8;
  height: 100vh;
}
#hero .animate {
  transform: translateX(-100%);
}
#hero.show-animate .animate {
  transform: translateX(0);
}
#hero h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 64px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.text-danger {
  font-size: 35px;
}
.custom-padding-left {
  padding-left: 5%;
}
#hero .animated {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 25px;
  }
  .text-danger {
    font-size: 30px;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.card-1 {
margin-right: 25px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fff;
  width: 100%;
position: relative;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
@media (max-width: 768px) {
  .card-1 { 
    width: auto;
    margin-right: auto;
    height: auto;
  }
.card__img--hover {
      height: 260px;
    }
}
h1.display-2 {
  font-size: 36px; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9); 
}
p.lead {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7); 
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #accesos-directos {
    margin-top: 2%;
  }
  .sec-4 .card {
    margin-top: 5%;
    width: 100%;
  }
}
@media (max-width: 990px) {
 .sec-4 .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
 .sec-4 .col-md-6 {
  width: 80%;
}
}
.p-1 {
  width: 100%;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 20%;
  max-width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
}
.modal-content {
  padding: 5px;
  text-align: center;
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .modal {
    display: none;
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .modal {
    display: none;
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    z-index: -500;
  }
}